execution-environment/context
execution-environment/galaxy-rh-token
.terraform
ansible/inventory/hosts.ini
*.tfstate
*.tfstate.*
.DS_Store
.env
deploy_vars.yml
terraform.tfvars
terraform.tfvars.json
s3-backend-credentials
deploy-artifact*.json
ansible-navigator.log
collections
execution-environment/ansible.cfg
execution-environment/galaxy-rh-token